@model CreateTollVM

<h1>Add toll:</h1>
<form asp-controller="Home" asp-action="createToll" class="addTollForm">
    <label asp-for="LicensePlate"></label>
    <input asp-for="LicensePlate" value="@Model.LicensePlate" />
    <span asp-validation-for="LicensePlate"></span>
    <br />
    <label asp-for="SelectedVehicleType">Vehicle</label>
    <select asp-for="SelectedVehicleType" asp-items="Model.VehicleType"></select>
    <span asp-validation-for="SelectedVehicleType"></span>
    <br />
    <label asp-for="DateTimePass">Time for passage</label>
    <input type="datetime" asp-for="DateTimePass" value="@DateTime.Now.ToString("yyyy/MM/dd hh:mm:ss.fff tt")" />
    <span asp-validation-for="DateTimePass"></span>
    <br />
    <button type="submit">Add</button>
</form>
