@model ViewTollVM
<h1>Enter license plate:</h1>
<form asp-action="Home" method="get" class="addTollForm">
    <input asp-for="LicensePlate" />
    <span asp-validation-for="LicensePlate"></span>
    <br />
    <button type="submit" asp-action="ViewToll" asp-for-LicensePlate="Licenseplate">View total toll</button>
    <br />
    <br />
    <button type="submit" asp-action="CreateToll" asp-for-LicensePlate="Licenseplate">Add new toll</button>
</form>