@model ViewTollVM

    <h1>License plate: @Model.LicensePlate</h1>
<h1>Vehicle type: @Model.SelectedVehicleType</h1> 
<h1>Total toll fee: @Model.TotalFee SEK</h1>
<br />
<h2>Passages:</h2>
@foreach (var tollPassage in Model.DateTimePassArr)
{
    <h4>@tollPassage.ToString("yyyy/MM/dd HH:mm:ss.fff")</h4>
}
<br />
<br />
<a asp-controller="Home" asp-action="Index">Back to home</a>
